body,
html {
  overflow-x: hidden;
}

.home_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_container h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #fff;
}

.home_container h1 span {
  color: #ffbb33;
  padding: 0 0.2em;
  background-color: #141414;
}

.home_container p {
  margin-bottom: 1.5em;
  color: #a0a0a0;
}

.home_container img {
  width: 400px;
  margin: 2em 0;
}

@media (max-width: 756px) {
  .home_container h1 {
    font-size: 1.8em;
  }
  .home_container p {
    font-size: 0.9em;
    padding: .6em 0;
  }
  .home_container img {
    width: 340px;
    margin: 2em 0;
  }
  .home_container {
    padding: 2em 0;
  }

  .a{
    font-size: .9em;
  }
}

@media(max-width:400px){
  .home_container img{
   width: 290px;
  }
  .home_container h1 {
    font-size: 1.5em;
  }
  .home_container p {
    font-size: 0.7em;
}
}
