.message {
    padding: 1em;
    border: 1px solid #6e6e6e;
    background-color: #141414;
    color: #ededed;
    margin: 1% .5%;
    text-align: center;
    border-radius: 2px;
    width: 100%; 
    font-weight: 600;
}

.success {
    color: #ffbb33;
    background: #222;
}

.error {
    color: #e14444;
    background: #222;
   
}